:root {
    --cinza-claro: #ccc;
    --preto: #000;
    --cinza-escuro: #333;
    --branco: #fff;
    --azul: #007bff;
}

/*Declarações Globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza-claro);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: var(--preto);
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

#titulo {
    color: var(--preto);
    margin: 20px 0;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.busca .searchInput {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid var(--preto);
    background-color: var(--cinza-claro);
}

.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.busca button:hover {
    background-color: #0056b3;
}

.resultado {
    display: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.nomeCidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: var(--cinza-escuro);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#pais {
    height: 25px;
    margin-left: 10px;
}

.info { 
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo, .ventoTitulo {
    font-size: 16px;
    color: var(--cinza-escuro);
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    font-size: 30px;
    color: var(--cinza-escuro);
    font-weight: bold;
}
.tempInfo sup,
.ventoInfo span{
    font-size: 15px;
    font-weight: normal;
}

.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid var(--cinza-escuro);
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: var(--cinza-escuro);
    transform-origin: left;
}

.aviso {
    color: var(--branco);
    padding-top: 25px;
}

/*Área de Previsão*/
.previsaoTempo {
    border-top: 1px solid var(--cinza-escuro);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    color: var(--cinza-escuro);
}

.previsaoTempo h1{
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
}

#containerPrevisao  {
    display: flex;
    justify-content: space-around;
    gap: 1;
    padding-bottom: 10px;
    overflow-x: auto;
}

.previsaoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 60px;
}

.previsaoItem img {
    width: 40px;
    height: 40px;
}

.previsaoItem .temp {
    font-weight: bold;
}

.aviso {
    color: var(--cinza-escuro);
}

footer {
    margin-top: 20px;
    color: var(--cinza-escuro);
    font-size: 13px;
}

a {
    color: var(--cinza-escuro);
    text-decoration: none;
}
a:hover {
    color: var(--preto);
    text-decoration: underline;
    font-size: 15px;
}